{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Us - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>About Us</h2>
        <p>Welcome to NewsCircle! We are more than just a news platform; we are a community-driven hub for staying informed, engaged, and connected. Our platform goes beyond traditional news websites by fostering social interaction and collaboration among users.</p>
        <p>At NewsCircle, we believe in the power of community to shape the narrative and drive meaningful conversations. Our platform enables users to not only consume news but also actively participate in discussions, share insights, and engage with other like-minded individuals.</p>
        <p>Whether you're passionate about politics, technology, sports, entertainment, or any other topic, NewsCircle offers a space where your voice matters. Join our vibrant community today and be a part of shaping the future of news!</p>
    </div>
</div>
{% endblock content %}
